@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@font-face {
  font-family: 'Calibri';
  src: url('../assets/fonts/calibri-regular.ttf') format('truetype');
  font-weight: 400;
}